body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

.container {
    margin: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

canvas {
    margin-top: 30px;
    width: 90% !important;
    max-width: 600px;
}
